.jumbotron {
    margin-bottom: 0px;
    background-color: rgb(117, 140, 241);
}

#actuality {
    margin-top: 50px;
}

.ulDotRemove {
    list-style-type: none;
}

#colorBlue {
    color: rgb(51, 51, 226);
}

#colorRed {
    color: rgb(219, 70, 70);
}

#colorGreen {
    color: rgb(50, 179, 50);
}