.btn-loop {
    background-color: #dd5a5a;
    color: white;
}
.btn-link-article{
    background-color: #dd5a5a;
    color: white;
}
#actuality {
    padding-top: 50px;
    background-color: whitesmoke;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: #d84141;

}

.jumbotron h1.display-4 {
    color: white;
}

.navbar {
    background-color: #dd5a5a!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:checked {
    color: white !important;
}
#Bg-color {
    background-color: #d84141;
}
label {
    color: white;
}